@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Open+Sans:wght@400;700&family=Poppins:wght@300;500;700&display=swap");

:root{
  --main-color:rgb(247, 212, 16)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: var(--main-color);
  color: black;
}

button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #007bff;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  background: linear-gradient(to right, #2e90f3, #00c7ff);
}

.app {
  display: flex;
}

.sidebar {
  width: 300px;
  background: #ffffff;
  font-family: "Jost", sans-serif;
  padding: 20px;
  margin-top: 10%;
}

.sidebar ul {
  list-style: none;
  font-family: "Jost", sans-serif;
  line-height: 3;
  font-size: 18px;
  font-weight: 600;
  text-align: center;

}

.sidebar li {
color: black;

}

.sidebar li a:link {
  text-decoration: none;
  }
.sidebar li:hover{
  background-color: var(--main-color);
  color: black;
  text-decoration: none;
}


.colorButton {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}

.sidebar-line {
  position: absolute;
  left: 30%;
  border-left: 6px solid rgb(0, 0, 0);
  height: 100vh;
}

.layout .btn2 {
  position: absolute;
  top: 2%;
  width: 50px;
  left: 29%;
}

.layout .toggled-btn {
  transition: margin-left 0.45s ease-out;
  margin-left: -350px;
  left: 27%;
  top: 2%;
  transform: scaleX(-1);
}
.layout .toggled-btn .sidebar-line {
  display: none;
}
.layout .btn4 {
  width: 50px;
  color: white;
  text-align: center;
}

.layout .toggle-sidebar {
  width: 100%;
  position: fixed;

}

.layout .hidden-column .toggle-sidebar {
  display: none;
}

.layout .toggled .sidebar {
  transition: margin-left 0.3s ease-out;
  margin-left: -300px;
  width: 0;
}

/* .layout .toggled .sidebar-line {
  transition: margin-left 0.45s ease-out;
  margin-left: -350px;
  left: 26%;
  top: 7%;
} */

/* .layout .toggled .btn2 {
  transition: margin-left 0.5s ease-out;
  margin-left: 18px;
  transform: scaleX(-1);
  position: absolute;
  top: 2%;
} */

.layout .expand-main {
  /* width: 80% !important; */
  transition: margin-left 0.9s ease-out;
  width: 100%;
  margin-left: 2%;
  /* position: relative;
  top: 2%; */
}

.base {
  margin-top: 10%;
}

.homepage {
  margin-top: 20%;
}

.homepage .effect {
  width: 40%;
  /* transition: width .9s ease-in-out; */
}
.homepage .data {
  width: 60%;
}
.homepage .effect:hover {
  /* width: 100%; */
  transform: translate3d(-4.50195px, -6.92986px, 0px);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.homepage .background {
  /* position: absolute; */
  /* top: 15%; */
  /* padding: 3%; */
  width: 300px;
  height: 200px;
  background-color:var(--main-color)
  /*  
  z-index: 0; */
}

.homepage img {
  position: relative;
  bottom: 49%;
  left: 7%;
  border: 10px solid #0e0d0d;
  border-radius: 4px;
  padding: 20px;
  width: 250px;
}

.homepage p {
  margin-left: 2%;
  color: black;
}
.layout .collapsed {
  width: 0;
}
.arrow {
  width: 100%;
}

.divider {
  /* position: absolute;
  left: 30%; */
  border: 3px solid rgb(0, 0, 0);
  height: 6px;
  width: 780px;
}
.upArrow {
  background-color: #0e0d0d;
  width: 48px;
  /* margin-left: 90%; */
  /* height: 80px; */
  color: rgb(252, 251, 251);
  text-align: center;
}
